* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

#home-page {
  height: 1000px;
}

#about-page {
  height: 1000px;
}

#projects-page {
  height: 1000px;
}

#contact-page {
  height: 1000px;
}

.banner {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header {
  display: inline-block;
  color: white;
  letter-spacing: 4px;
  height: 70px;
  line-height: 2.1;
  margin-left: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.1rem;
}

.nav-box {
  display: inline-block;
  margin-left: 5%;
}

.banner-nav-tab {
  width: 10rem;
  color: gray;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  transition: color .2s;
  text-align: center;
}

.banner-nav-tab:hover {
  color: white;
}

.highlighted {
  color: white;
}

.svg-container {
  position: absolute;
  top: 5px;
  right: .7rem;
  margin-right: 100px;
  display: inline-block;
}

.svg-box {
  display: inline-block;
  margin: .7rem;
}

.heading {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

.welcome-background {
  margin: 0;
  padding: 60px;
  padding-top: 130px;
  background: url('./assets/images/welcome-bg.png');
}

.welcome-frame {
  width: 50%;
  min-width: 600px;
  margin: auto;
  padding: 40px 10px;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: 0px 0px 30px black;
  opacity: .9;
}

.welcome-section {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.welcome-section p {
  line-height: 1.7rem;
  letter-spacing: .5px;
}

.home-page-nav {
  width: 65%;
  min-width: 900px;
  margin: auto;
  margin-top: 50px;
  text-align: justify;
}

.spacer {
  display: inline-block;
  width: 33%;
  padding: 0px;
  margin: 0px;
}

.home-page-nav-button {
  height: 100px;
  width: 250px;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
  margin: 0;
}

.home-page-nav-button h2 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

.home-page-nav-button p {
  letter-spacing: .5px;
  color: gray;
  transition: color .2s;
}

.home-page-nav-button p:hover {
  color: white;
}

.opening {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.final-paragraph {
  margin-top: 30px;
}

.final-paragraph a {
  color: blue;
}

.about-section {
  width: 65%;
  margin: auto;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
  min-width: 500px;
}

.about-section img {
  width: 15%;
  border-radius: 3px;
  float:left;
  margin-right: 15px;
}

.link, .link:hover, .link:visited {
  color: blue;
  text-decoration: underline;
}

footer {
  height: 45px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: .6rem;
  text-align: center;
}

footer > p {
  line-height: 1.4;
}

.skills-col {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-top: 10px;
}

.container {
  width: 60%;
  margin: auto;
  padding-bottom: 30px;
  margin-top: 60px;
  border-bottom: 1px solid lightgray;
}

.regular-text {
  font-weight: normal;
}

.resume h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  margin-top: 60px;
}

.resume h2 {
  margin-top: 30px;
  letter-spacing: 1.5px;
  font-family: 'Raleway', sans-serif;
}

.resume h4 {
  margin-top: 10px;
}

.resume p {
  margin-top: 10px;
}

.projects-intro {
  width: 70%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.projects-intro p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.projects-container {
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
  margin-top: 80px;
  border-top: 1px solid lightgray;
}

.project {
  border-bottom: 1px solid lightgray;
  height: 100%;
}

.project:hover {
  transition: all .5s ease;
}

.project h2 {
  letter-spacing: 1.5px;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.project h2:hover {
  background-color: lightgray;
  transition: all .5s ease;
  cursor: pointer;
}

.github-repo-link {
  height: 35px;
  /*margin-left: 15px;*/
  position: relative;
  top: 8px;
}

.project-detail {
  height: 0px;
  max-height: auto;
  overflow: hidden;
  padding-left: 5%;
}

.screenshot {
  max-height: 300px;
  max-width: 90%;
  box-shadow: 0px 0px 30px gray;
  margin-top: 30px;
  margin-left: 30px;
}

.separator {
  height: 1px;
  width: 150px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.display-detail {
  max-width: 85%;
  padding-bottom: 60px;
  /*border-bottom: 1px solid lightgray;*/
}

.display-detail > strong {
  display: block;
  margin-top: 20px;
}

.display-detail > a > h1 {
  display: inline-block;
}

.contact-info {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  border-bottom: 1px solid lightgray;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.input-field {
  display: block;
  height: 30px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 7px;
}

.input-message {
  height: 200px;
  width: 500px;
  display: block;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 7px;
  padding-left: 7px;
}

::-webkit-input-placeholder {
  font-size: .8rem;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: .8rem;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: .8rem;
}

:-ms-input-placeholder {
  font-size: .8rem;
}

.button {
  height: 30px;
  width: 100px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #A63E14;
  font-family: 'Raleway', sans-serif;
  border: none;
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.contact-info p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.contact-info h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-info a {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
}

.text1 {
  color: #558A86;
}

.text2 {
  color: #A63E14;
}

.text3 {
  color: #00223D;
}

.bg1 {
  background-color: #558A86;
}

.bg2 {
  background-color: #A63E14;
}

.bg3 {
  background-color: #00223D;
}

@media all and (max-width: 1130px) {
  .banner {
    height: 120px;
  }

  .welcome-background {
    padding-top: 180px;
  }

  .nav-box {
    display: block;
    margin-top: 10px;
    margin-left: 40px;
  }

  .banner-nav-tab {
    width: 8rem;
  }
}

@media all and (max-width: 800px) {
  .svg-container {
    top: 1px;
    margin-right: 20px;
  }

  .svg-box {
    display: block;
    margin: .7rem;
  }
}

@media all and (max-width: 670px) {
  .svg-box {
    display: none;
  }
}

@media all and (max-width: 465px) {
  .nav-box {
    margin-left: 0px;
  }

  .banner-nav-tab {
    width: 7rem;
  }

  header {
    margin-left: 35px;
  }
}
